<div class="row-fluid plugins table-bordered">
  <div class="span12 ad">
    <script type="text/javascript"><!--
	google_ad_client = "ca-pub-6160345314856655";
	/* dgtl_plugins */
	google_ad_slot = "3606811789";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
  </div>
</div>
