<% if not @plugins.empty? and will_paginate @plugins %>
	<div class="row-fluid">
	  <div class="span12 pagination pagination-centered">
	  	<%= will_paginate @plugins, :renderer => PaginationListLinkRenderer, :next_label => "»", :previous_label => "«" %>
  	</div>
	</div>
<% end %>