<div class="row-fluid plugins table-bordered">
  <div class="span10 description">
    <p>
      <span class="title"><a href="http://dev.bukkit.org/server-mods/<%= plugin.slug %>"><%= plugin.name %></a></span> 
      <span class="author">by 
        <% plugin.authors.each_with_index do |author, index| %>
          <%= link_to author.name, author %><%= ", " if not plugin.authors[index + 1].nil? %>
        <% end %>
      </span> 
      <span class="categories">(
        <% plugin.categories.each_with_index do |category, index| %>
          <%= link_to category.custom_name, category -%>
          <%= "/" if not plugin.categories[index + 1].nil? -%>
        <% end %>
       )</span><br />
      <span class="updated">Updated: <%= plugin.last_updated.to_formatted_s(:long) if not plugin.last_updated.nil? %> / Total Downloads: <%= plugin.downloads %></span>
    </p>
    <p><span class="description">
       <%= plugin.summary[0, 170].html_safe if not plugin.summary.nil? %><%= '...' if (not plugin.summary.nil?) && plugin.summary.length > 170 %>
       <!--<%= link_to '(More)', plugin %>-->
    </span></p>
  </div>
  <div class="span2 download">
    <span><%= getLatestDownload(plugin) %><br /><%= getLatestBuild(plugin) %></span>
  </div>
</div>
