<div class="row-fluid">
  <div class="span12">  
    <h1>BukkitDev Profile: <%= link_to @author.name, 'http://dev.bukkit.org/profiles/' + @author.name %></h1>
  </div>
</div>
<%= render "shared/plugin_list" %>