<%= render "plugins/pagination" %>
    <% if not @plugins.empty? %>
        <div class="row-fluid">
            <div class="span12 sort">
                Sort: <%= sortable 'name' %> / <%= sortable "last_updated", "Updated", 'desc' %> / <%= sortable 'downloads', 'Downloads', 'desc' %>
            </div>
        </div>
		<% @plugins.each_with_index do |plugin, index| %>
			<%= render "plugins/ad" if index == 10 %>
			<%= render plugin %>
		<% end %>
		<%= render "plugins/ad" if (@plugins.length < 10 || @plugins.length > 15) %>
    <% else %>
      <div class="row-fluid plugins table-bordered">
        <div class="span12 description" style="text-align: center">
          No Plugins Found
        </div>
      </div>
	  <%= render "plugins/ad" %>
    <% end %>
<%= render "plugins/pagination" %>

