<div class="row-fluid"><div class="span12 info">
	<h1>About</h1>
	<div class="well">
		<p>Modd.in is a Bukkit Plugin search engine written and run by me, Steven Scott.
		I'm hoping in the future to expand it to a search engine for more game modifications, as well as a hosting platform for plugins and modifications.</p>

		<p>The Modd.in website is open source, and the code is available on BitBucket at: <a href="https://bitbucket.org/drakia/bplugged">https://bitbucket.org/drakia/bplugged</a></p>

		<p>Modd.in was born out of the need for a quality centralized search system for Bukkit plugins. The Curse search framework just was not up to par for my liking, and the plugin search hosted by Bukkit, though usable, had its issues.</p>
		
		<p>If you find any bugs, or run into issues with the site, please report them at <a href="mailto:Moddin@thedgtl.net">ModdIn@TheDgtl.net</a></p>
	</div>
</div></div>
