<div class="row-fluid"><div class="span12 info">
	<h1>Contact</h1>
	<div class="well">
		<h2>Want to get in touch?</h2>
		<p>If you have any questions, concerns, or suggestions please feel free to contact me via email at <a href="mailto:Moddin@thedgtl.net">ModdIn@TheDgtl.net</a></p>
	</div>
</div></div>
