<div class="row-fluid"><div class="span12 info">
	<h1>F.A.Q</h1>
	<div class="well">
		<b>Why was the layout changed/site rewritten?</b>
		<hr>
		The previous layout was always supposed to just be temporary. I decided to rewrite the site in Ruby on Rails as a learning experience. I also wrote a new scraper from scratch in Ruby, as BukGet had a tendency to return invalid/incorrect/incomplete results.
	</div><div class="well">
		<b>Why does the site now contain ads?</b>
		<hr>
		Sadly running a website like this isn't free. I'm running ads to see what kind of income it will supply, and to hopefully offset the cost of hosting and the domain.
	</div><div class="well">
		<b>I want to contribute to the site, how do I help?</b>
		<hr>
		If you know how to program, you can always make additions or bug fixes, and submit pull requests on <a href="https://bitbucket.org/drakia/bplugged">BitBucket</a><br />
		If you want to help keep the site running, feel free to donate: [Paypal Link]
	</div><div class="well">
		<b>Why should I use Modd.In instead of BukkitDev for finding plugins?</b>
		<hr>
		Modd.In only searches plugin names, as opposed to the entire plugin description. Most users will find this a good thing as it returns more accurate and useful results. On top of that, download links are available directly from the search results.
	</div>
</div></div>
