<% if will_paginate @plugins %>
    <div class="paginate"><%= will_paginate @plugins %></div>
<% end %>
<table width="100%">
    <tr><th style="width: 100px;">Category</th><th><a href="#Title">Title</a></th><th class="pMin">Author(s)</th><th class="pMin"><a href="#Updated">Last Update</a></th><th class="pSmall">CB Build</th><th class="pSmall">Download</th></tr>

    <%= render @plugins %>
</table>
<% if will_paginate @plugins %>
    <div class="paginate"><%= will_paginate @plugins %></div>
<% end %>