body {
	color: #333333;
  	background-color: #f0f5ff;
}

a, a:hover, a:visited, a:active {
	color: #438dc1;
}

.navbar {
	margin-bottom: 0px !important;
	color: #000000;
}

.navbar .brand {
	padding: 0 20px 0 0;
	color: #222222;
	margin: 0 0 0 -20px;
}

.navbar .nav > li > a {
	font-weight: bold;
	font-size: 1.5em;
	color: #438dc1;
	text-shadow: none;
	padding: 34px 10px 36px;
}

@media (max-width: 767px) {
	.navbar {
		margin-left: -20px;
		margin-right: -20px;
	}
	.nav-search {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
	}
	.well {
		margin-bottom: 10px;
	}
	input {
		max-width: 100px;
	}
	div .sidebar-nav {
		padding: 2px 0 0 0;
	}
}

.navbar-inner {
	min-height: 90px;
	background-color: #e9f0fb;
	background-image: -moz-linear-gradient(top, #c8daf6, #baceec);
	background-image: -ms-linear-gradient(top, #c8daf6, #baceec);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c8daf6), to(#baceec));
	background-image: -webkit-linear-gradient(top, #c8daf6, #baceec);
	background-image: -o-linear-gradient(top, #c8daf6, #baceec);
	background-image: linear-gradient(top, #c8daf6, #baceec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8daf6', endColorstr='#baceec', GradientType=0);
}

.nav-search {
	min-height: 20px;;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #C8DAF6;
	border-bottom: 1px solid #BACEEC;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
	padding: 0px;
}

.form-inline {
	margin-bottom: 0px;
}

.form-inline label {
	vertical-align: middle;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/assets/glyphicons-halflings.png");
}
.icon-white {
  background-image: url("/assets/glyphicons-halflings-white.png");
}

.sidebar-toggle {
	float: right;
	padding: 0 5px;
	margin-right: 5px;
	margin-top: 5px;
	border: 1px solid black;
}

.sidebar-nav {
	padding: 9px 0;
}

.plugins {
	background-color: #e6eeff;
	padding-left: 10px;
	padding-right: 5px;
	margin-left: -15px;
	padding-top: 8px;
	margin-bottom: 15px;
	border-left: 1px solid #dddddd;
	overflow: hidden;
}

.plugins .ad {
	text-align: center;
	margin: auto !important;
}

.plugins .description p {
	margin-bottom: 5px;
}

.plugins .description .title {
	font-size: 2em;
	font-weight: bold;
}

.plugins .description .updated {
	font-size: 0.9em;
	padding-left: 10px;
}

.plugins .description .author a,
.plugins .description .categories a {
	font-weight: normal;
	font-size: 1.2em;
}

.plugins .description .categories{
	color: #999999;
}

.plugins .download {
	vertical-align: middle;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.4em;
}

.plugins .download a {
	font-weight: bold;
}

.info {
	
}

.info .well {
	padding: 15px;
}

.info hr {
	margin: 10px 0;
}

.info h1 {
	margin-left: -10px;
	margin-bottom: 10px;
}

.sort a {
	font-size: 15px;
	line-height: 25px;
	padding-right: 20px;
	background: url('/assets/sort_both.png') no-repeat center right;
}

.sort .asc {
	background: url('/assets/sort_asc.png') no-repeat center right;
}

.sort .desc {
	background: url('/assets/sort_desc.png') no-repeat center right;
}

.sort a {
	font-weight: normal;
}

.pagination {
	margin-top: 0px;
	margin-bottom: 8px;
	height: 26px;
}

.pagination span {
	float: left;
	padding: 0 14px;
	line-height: 24px;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.pagination a {
  padding: 0 14px;
  line-height: 24px;
}

.pagination li:first-child span {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
