/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #3333aa;
	font-size: 0.9em;
}

.page {
	margin: 2px;
	border: 1px solid #e0e0ee;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}

.current {
	background-color: #e0e5f2;
}

.footer {
	clear: both;
	border: 1px solid #e0e0ee;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
}