<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bukkit.Modd.in - The Bukkit Plugin List and Search Engine</title>
    <link type="application/opensearchdescription+xml" rel="search" href="/search.xml" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/"><img src="/assets/logo.png" /></a>
        </div>
      </div>
    </div>
    <div class="nav-search">
      <div class="container-fluid">
        <%= form_tag plugins_path, :method => 'get', :class => 'form-inline' do%>
          <%= label_tag :title, "Title: ", :class => 'hide' %><%= text_field_tag :title, params[:title], {:autofocus => "autofocus", :placeholder => 'Title', :class => 'input-medium' } %>
          <%= label_tag :author, "Author: ", :class => 'hide' %><%= text_field_tag :author, params[:author], {:placeholder => 'Author', :class => 'input-medium'} %>
          <%= label_tag :category, "Category: ", :class => 'hide' %>
          <%= select_tag :category, '<option value="-1">All</option>'.html_safe + options_from_collection_for_select(Category.all, :slug, :name, (@current_controller == 'categories') ? params[:id] : params[:category]), {:class => 'hidden-phone'} %>
          <%= submit_tag "Search", :name => nil, :class => 'btn' %>
        <% end %>
        <script type="text/javascript">
        <!--
        document.getElementById("title").focus();
        -->
        </script>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div id="toggle-sidebar" class="btn btn-small pull-right">
            <i class="icon-minus"></i>
          </div>
          <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Browse</li>
              </ul>
            <div id="sidebar" class="hidden-phone">
              <ul class="nav nav-list">
                <li <%= @current_controller == 'categories' || (params[:category] && params[:category] != '-1') ? '' : ' class="active"'.html_safe %>><%= link_to "All", Plugin %></li>
                <% @categories.each do |category| %>
                  <li <%= params[:id] == category.slug || params[:category] == category.slug ? ' class="active"'.html_safe : '' %>><%= link_to category.name, category %></li>
                <% end %>
              </ul>
              <hr />
			  <ul class="nav nav-list">
			    <li class="nav-header">Advertisement</li>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-6160345314856655";
				/* dgtl_plugin_sidebar */
				google_ad_slot = "5524332721";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			  </ul>
              <hr />              
              <ul class="nav nav-list">
                <li class="nav-header">Support</li>
                <li><%= link_to 'About', about_url %></li>
                <li><%= link_to 'FAQ', faq_url %></li>
                <li><%= link_to 'Contact Us', contact_url %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="footer">Page took <%= sprintf('%.0f', (Time.now.usec - @start_time).abs / 1000.0) %>ms to load</div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#toggle-sidebar").click(function() {
        $(this).find('i').toggleClass('icon-plus icon-minus');
        $('#sidebar').toggle().toggleClass('hidden-phone');
      });
    });
    </script>

  </body>
</html>

